/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 30, 30);
}

/* style menu*/
#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgb(26, 25, 25);
    color: white;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center;
}
#logo{
    text-decoration: none;
    margin-left: 100px;
    color: orangered;
    padding: 10px;
    font-size: 1.5em;
}

.navbar-items{
    display: flex;
    list-style: none;
    margin-right: 150px;
    font-size: 1.3em;
    gap: 1em;
    
}

.navbar-items li a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

.navbar-items li a:hover{
    color: orangered;
    text-decoration: underline;
}
