/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 30, 30);
    font-size: 1rem;
}

html {
    font-size: 100%;
}

/* style menu*/
#navbar {
    width: 100%;
    height: 11vh;
    display: flex;
    background-color: rgb(26, 25, 25);
    color: white;
    box-sizing: border-box;
    justify-content: end;
    align-items: center;
    box-shadow: 1 1 1 black;
    position: fixed;

}

.logo {
    position: absolute;
    left: 0;
}

#logo {
    text-decoration: none;
    margin-left: 100px;
    color: #FF5719;
    padding: 20px;
    font-size: 1.5em;
}

#navbar-items {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    gap: 1em;
}

.list {
    text-decoration: none;
    color: white;
    transition: .5s;
    padding: 20px 5px;
}

#navbar-items li a:hover {
    color: orangered;
    text-decoration-line: underline;
}

/* icone que altera a cor de fundo da pagina*/
#icon-day {
    color: #ffbb00;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 4rem;
}

#btn-iconDay {
    background-color: transparent;
    border: none;
}

#icon-night {
    color: yellow;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 4rem;
}

#btn-iconDay {
    background-color: transparent;
    border: none;
}


.icon-mobile {
    margin-right: 5px;
    padding: 10px;
    display: none;
}

.icon-mobile button i {
    color: white;
    font-size: 2em;
}

.icon-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: none;
    color: white;
}

/* Style main*/
header {
    height: 100vh;
    display: flex;
    margin-left: 7.5em;
    justify-content: space-between;
}

#home h1 {
    display: block;
    color: white;
    font-size: 3em;
    margin-top: 10rem;
}

#write-animation {
    display: inline-block;
    margin-top: 10px;
    visibility: hidden;
    color: #ff4500;
    font-size: 1.8rem;
    margin-bottom: 1.5em;
    font-weight: bold;
}

.image-developer {
    background-image: url(../img/developer.png);
    background-repeat: no-repeat;
    margin-top: 7em;
    margin-right: 15em;
    width: 300px;
    height: 450px;
}

.imagens-front-contain {
    display: flex;
}

.imagens-front-1 {
    background-image: url(../img/logo-html-5-1536.png);
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;
}

.imagens-front-2 {
    background-image: url(../img/logo-css-3.png);
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;
}

.imagens-front-3 {
    background-image: url(../img/logo-javascript.png);
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;
}

#sobre, #projetos, #contato {
    height: 100vh;
    margin-top: 10em;
}

#sobre h2, #projetos h2, #contato h2{
    margin-top: 3rem;
    text-align: center;
    font-size: 2em;
    margin-bottom: 4rem;
    color: #ff4500;

}

#sobre-container {
    display: flex;
    justify-content: center;
}

#sobre-image {
    background-image: url(../img/sobre_colorida.jpg);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 7.5rem;
    margin-right: 30px;
    padding: 150px;

}

#sobre-text {
    /* background-color: aqua; */
    width: 500px;
    height: 600px;
    margin-right: 150px;
    color: #fff;
    font-size: 1.5rem;
}

#sobre-text p {
    margin-top: 4em;
}

/* section projetos*/


@media(max-width:998px) {
    html {
        font-size: 80%;
    }

    .image-developer{
        margin-right: 10em;
    }
    #icon-day{
        margin-right: 0.5em;
    }
    /* #sobre-image{
        margin: auto;
    }
    #sobre-text{
        margin: auto;
    } */

}

@media(max-width:856px) {
    html {
        font-size: 70%;
    }
    .image-developer{
        margin-right: 5em;
    }
    #sobre-container{
        display: block;
      
    }

    #sobre-image{
        margin: auto auto;
        height: 100%;
    }
    #sobre-text{
        margin: auto auto;
        text-align: center;
    }
}

@media(max-width:790px) {
    html {
        font-size: 70%;
    }

    #navbar-items {
        display: none;
    }


    .icon-mobile {
        display: block;
        display: flex;
        margin-right: 10px;
    }

    #btn-iconDay{
       margin-right: 1em;
    }

     #logo {
        margin-left: 20px;

    } 

    .mobile-menu {
        position: absolute;
        display: flex;
        display: none;
    }

    .mobile-menu ul {
        display: flex;
        margin-top: 11vh;
        right: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.884);
        position: fixed;
    
    }

    .mobile-menu ul li {
        list-style: none;
        padding: 3rem;
        width: 100%;
        text-align: center;
    }

    .mobile-menu ul li:hover {
        background-color: rgb(0, 0, 0);
    }

    .mobile-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 2em;
    }

    .mobile-menu a:hover {
        color: #ff4500;
    }

    .image-developer{
        display: none;
    }

}