/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 30, 30);
    font-size: 1rem;
}

html {
    font-size: 100%;
}

/* style menu*/
#navbar {
    width: 100%;
    height: 11vh;
    display: flex;
    background-color: rgb(26, 25, 25);
    color: white;
    box-sizing: border-box;
    justify-content: end;
    align-items: center;
    box-shadow: 1 1 1 black;
    position: fixed;

}

.logo {
    position: absolute;
    left: 0;
}

#logo {
    font-family: 'Shojumaru', cursive;
    text-decoration: none;
    margin-left: 100px;
    color: #FF5719; 
    /* background-image: linear-gradient(to right, #ff4500, #ff4800 ,steelblue);
    color: transparent; */
    background-clip: text;
    -webkit-background-clip: text;
    padding: 20px;
    font-size: 1.9em;
}

#navbar-items {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    gap: 1em;
}

.list {
    text-decoration: none;
    color: white;
    transition: .5s;
    padding: 20px 5px;
}

#navbar-items li a:hover {
    color: #ff4500;
    text-decoration-line: underline;
}

/* icone que altera a cor de fundo da pagina*/
#icon-day {
    color: #ffbb00;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 4rem;
}

#btn-iconDay {
    background-color: transparent;
    border: none;
}

#icon-night {
    color: yellow;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 4rem;
}

#btn-iconDay {
    background-color: transparent;
    border: none;
}


.icon-mobile {
    margin-right: 5px;
    padding: 10px;
    display: none;
}

.icon-mobile button i {
    color: white;
    font-size: 2em;
}

.icon-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: none;
    color: white;
}

/* Style main*/
header {
    height: 100vh;
    display: flex;
    margin-left: 7.5em;
    justify-content: space-between;
}

#home h1 {
    display: block;
    color: white;
    font-size: 3em;
    margin-top: 10rem;
}

#write-animation {
    display: inline-block;
    margin-top: 10px;
    visibility: hidden;
    color: #ff4500;
    font-size: 1.8rem;
    margin-bottom: 1.5em;
    font-weight: bold;
}

.image-developer {
    background-image: url(../img/developer.png);
    background-repeat: no-repeat;
    margin-top: 7em;
    margin-right: 15em;
    width: 300px;
    height: 450px;

    animation: estudando 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}

.imagens-front-contain {
    display: flex;
}

.imagens-front-1 {
    background-image: url(../img/logo-html-5-1536.png);
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;

    /*animação de keyframe*/
    animation: estudo-html 6s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.imagens-front-2 {
    background-image: url(../img/logo-css-3.png);
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;

     /*animação de keyframe*/
    animation: estudo-css 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.imagens-front-3 {
    background-image: url(../img/logo-javascript.png);
    background-position: center;
    background-size: cover;
    height: 70px; 
    width: 70px;

     /*animação de keyframe*/
    animation: estudo-js 6s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes estudo-js{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(550px, -90px); 
        opacity: 0;  
    }
}

@keyframes estudo-css{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(600px, -90px);  
        opacity: 0; 
       
    }
}


@keyframes estudo-html{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(700px, -90px);   
         opacity: 0;

    }

}

/* @keyframes estudando{
    100%{
        transform: translateY(10px)
    }
} */


#sobre, #projetos, #contato {
    height: 100vh;
    margin-top: 10em;
}

#sobre h2, #projetos h2, #contato h2{
    margin-top: 3rem;
    text-align: center;
    font-size: 2em;
    margin-bottom: 4rem;
    color: #ff4500;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;

}

#sobre-container {
    display: flex;
    justify-content: center;
}

#sobre-image {
    background-image: url(../img/about.png);
    width: 300px;
    height: 407px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 7.5rem;
    margin-right: 30px;
    padding: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #000;

}

#sobre-text {
    width: 550px;
    height: 407px;
    margin-right: 7.5rem;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    border-radius: 10px;
    background-color: #71f8dd21;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5); */
}

#sobre-text p {
    padding: 15px;
    /* margin-top: 4em; */
    text-indent: 17px;
}

#curriculo{
    font-weight: 500;
    text-align: end;
}

#curriculo a{
    text-decoration: none;
    color: #ffff;
    background-color: #ff4500;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.678);
    transition: 0.2s;
}

#curriculo a:hover{
    padding: 12px;
    color: #000;
}

#links-web{
    margin-top:5em;
    text-align: center;
}

.fa-linkedin{
    color: #0e76a8;
}


#links-web a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 3em;
    margin: 5px;
}

/* section projetos*/

#projetos h2{
    margin-top: 10em;
}


@media(max-width:998px) {
    html {
        font-size: 80%;
    }

    .image-developer{
        margin-right: 10em;
    }
    #icon-day{
        margin-right: 0.5em;
    }
    /* #sobre-image{
        margin: auto;
    }
    #sobre-text{
        margin: auto;
    } */

    @keyframes estudo-js{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translate(350px, -90px); 
            opacity: 0;  
        }
    }
    
    @keyframes estudo-css{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translate(400px, -90px);  
            opacity: 0; 
           
        }
    }
    
    
    @keyframes estudo-html{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translate(500px, -90px);   
             opacity: 0;
    
        }
    
    }

}

@media(max-width:856px) {
    html {
        font-size: 70%;
    }
    .image-developer{
        margin-right: 5em;
    }
    #sobre-container{
        display: block;
      
    }

    #sobre-image{
        margin: auto auto;
        height: 100%;
    }
    #sobre-text{
        margin: auto auto;
        text-align: center;
        height: auto;
    }

    @keyframes estudo-js{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translateX(250px); 
            opacity: 0;  
        }
    }
    
    @keyframes estudo-css{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translateX(300px);  
            opacity: 0; 
           
        }
    }
    
    @keyframes estudo-html{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translateX(400px);   
             opacity: 0;
    
        }
    
    }
}

@media(max-width:790px) {
    html {
        font-size: 70%;
    }

    #navbar-items {
        display: none;
    }


    .icon-mobile {
        display: block;
        display: flex;
        margin-right: 10px;
    }

    #btn-iconDay{
       margin-right: 1em;
    }

     #logo {
        margin-left: 20px;

    } 

    .mobile-menu {
        position: absolute;
        display: flex;
        display: none;
    }

    .mobile-menu ul {
        display: flex;
        margin-top: 11vh;
        right: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.884);
        position: fixed;
    
    }

    .mobile-menu ul li {
        list-style: none;
        padding: 3rem;
        width: 100%;
        text-align: center;
    }

    .mobile-menu ul li:hover {
        background-color: rgb(0, 0, 0);
    }

    .mobile-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 2em;
    }

    .mobile-menu a:hover {
        color: #ff4500;
    }

    .image-developer{
        display: none;
    }

    #sobre-text{
        height: auto;
        width: auto;
    }

    .imagens-front-1, .imagens-front-2, .imagens-front-3{
        animation: none;
    }

    header{
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin: 0;
    }

    #home h1{
        margin-top: 5em;
    }

    #sobre-image{
        width: 250px;
        height: 407px;
    }
}